/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(180deg, #009688 13%, #DBDBD4 13%);
}

.asd{
  background: linear-gradient(180deg, #009688 13%, #DBDBD4 13%);
}

/* Contenitore Principale */

.container{
  display: flex;
  width: 72%;
  height: 95vh;
  margin: 2.5vh auto;
  background-color: white;
  box-shadow: 0px 0px 4px #888;
}


/* Menu di snistra */

.left-menu{
  width: 30%;
  min-width: 350px;
  min-height: 650px;
  background-color: white;
}

/* Linea di header*/

.top-line{
  height: 60px;
  width: 100%;
  background-color: #EDEDED;
}

.border{
  border-left: 1px solid lightgrey;
}

.container-icon{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.my-logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px 15px;
  cursor: pointer;
}

.icons{
  font-size: 20px;
  padding: 16px 16px;
  color: rgb(145, 145, 145);
  align-self: center;
}

.icons i{
  margin: 0 10px;
  cursor: pointer;
}

/* Avviso notifiche spente */

.notifications{
  display: none;
  height: 80px;
  width: 100%;
  background-color: #A5DFFE;
  cursor: pointer;
}

.container-notifications{
  display: flex;
  flex-wrap: nowrap;
}

.i-notific{
  background-color: white;
  color: #A5DFFE;
  border-radius: 50%;
  font-size: 24px;
  padding: 13px 12px 14px 13px;
  margin: 13px 12px 14px 13px;
}

.text-notific{
  margin: 18px 12px 14px 13px;
  color: rgb(92, 114, 126);
}

.text-notific p:first-child{
  font-size: 20px;
}

.text-notific p:last-child:hover{
  text-decoration: underline;
}


/* Trovare chat per nome di Contatto */

.container-search{
  display: flex;
  flex-wrap: nowrap;
  height: 50px;
  width: 100%;
  background-color: #EDEDED;
  border-bottom: 1px solid lightgrey;
}

.search{
  width: 94%;
  margin: 0 3%;
  background-color: white;
  border-radius: 18px;
  align-self: center;
  padding: 8px;
}

.search i{
  margin-left: 10px;
  color: rgb(145, 145, 145);
  cursor: pointer;
}

.search input{
  width: 80%;
  margin-left: 30px;
  border: none;
}

/* Chat con miei Contatti */

.container-chat .img-chat img{
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 10px;
}

.container-chat ul{
  list-style: none;
  height: 100px;
}

.container-chat ul li{
  display: flex;
  width: 100%;
  padding: 15px 15px 0 15px;
  cursor: pointer;
}

.container-chat ul li:hover{
  background-color: #EDEDED;
}


.info-chat{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-width: 0;
  border-bottom: 1px solid #EDEDED;
}

.name-date{
  display: flex;
  justify-content: space-between;
}



/* Menu di destra */

.right-menu{
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 400px;
  min-height: 650px;
  background-image: url("../img/sfondo-chat.png");
  background-size:  auto;
  overflow: auto;
}

/* Contatto corrente */

.current-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.contact-info{
  display: flex;
  align-items: center;
}

.contact-info img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 15px;
}


.contact-info-2 i{
 font-size: 20px;
 color: rgb(145, 145, 145);
 cursor: pointer;
 padding: 0 20px;
}

/* Messaggi con Contatto */

.container-all-message{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.time{
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  color: rgb(145, 145, 145);
}

.spunte{
  width: 15px;
  margin: 0 5px;
}

.hide{
  display: none;
  position: absolute;
  top: 0;
  right: 7px;
}

.delete-box{
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 55px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 100;
}

.white:hover .delete-box, .green:hover .delete-box  {
  display: block;
}

.white:hover .hide, .green:hover .hide  {
  display: block;
}

/* Scrivere nuovo messaggio */

.down-line{
  height: 60px;
  width: 100%;
  background-color: #EDEDED;
}

.telecommunication{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.telecommunication i{
  font-size: 24px;
  color: rgb(145, 145, 145);
  padding: 0px 10px;
}

.telecommunication input{
  width: 85%;
  background-color: white;
  border-radius: 18px;
  align-self: center;
  padding: 12px;
  border: none;
}

/* Prima del chat */

.splash-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  min-width: 400px;
  min-height: 650px;
  background-color: rgb(248, 249, 250);
}

.container-screen{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 70%;
  max-width: 450px;
}

.container-screen img{
  width: 300px;
  height: 300px;
}

.big-size{
  font-size: 35px;
  padding: 20px 0;
}

.warning{
  border-bottom: 1px solid #EDEDED;
  font-size: 16px;
  text-align: center;
  color: rgb(179, 179, 179);
  padding: 10px 0 40px 0;
}

.container-screen p:last-child{
  color: rgb(179, 179, 179);
  padding-top: 30px;
}

.container-screen a{
  text-decoration: none;
  cursor: pointer;
  color: green
}

/* CSS VUE */

.white{
  position: relative;
  font-size: 16px;
  margin: 20px 10% 0 10%;
  padding: 10px;
  border-radius: 18px;
  max-width: 35%;
  min-width: 150px;
  background-color: white;
}

.white p{
  word-wrap: break-word;
}

.green{
  position: relative;
  font-size: 16px;
  margin: 20px 10% 0 10%;
  padding: 10px;
  border-radius: 18px;
  max-width: 35%;
  min-width: 150px;
  background-color: rgb(220, 250, 198);
}

.green p{
  word-wrap: break-word;
}

.message-in{
  display: flex;
  justify-content: flex-start;
}

.message-out{
  display: flex;
  justify-content: flex-end;
}

.dismod{
  display: block;
}

.grey-click{
  background-color: rgb(214, 210, 210);
  z-index: 150px;
}
