<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- MY CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- MY JS -->
    <script src="js/script.js"></script>
  </head>
  <body>

    <div id="app" class="asd">

      <div class="container">

        <!-- Menu di sinistra -->
        <div class="left-menu">

          <!-- Linea di header -->
          <div class="top-line">
            <div class="container-icon">

              <div class="my-logo">
                <img src="img/my.jpeg" alt="">
              </div>

              <div class="icons">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>

            </div>
          </div>

          <!-- Avviso notifiche spente -->
          <div class="notifications" :class="{dismod: visibility}" >
            <div class="container-notifications">

              <div class="i-notific">
                <i class="fas fa-bell-slash"></i>
              </div>

              <div class="text-notific">
                <p>Get notified of new messages</p>
                <p>Turn on dekstop notifications</p>
              </div>

            </div>
          </div>

          <!-- Trovare chat per nome di Contatto -->
          <div class="container-search">
            <div class="search">
              <i class="fas fa-search"></i>
              <input type="text" name="" value="" placeholder="Search or start new chat" v-model="search">
            </div>
          </div>

          <!-- Chat con miei Contatti -->
          <div class="container-chat"  @click='notifications'>
            <ul>
              <li v-for="(contact, index) in filterContacts()" @click="getContact(index)">

                <div class="img-chat">
                  <img :src="contact.avatar" alt="">
                </div>

                <div class="info-chat">

                  <div class="name-date">
                    <h4>{{contact.name}}</h4>
                    <p>{{contact.messages[contact.messages.length - 1].time}}</p>
                  </div>

                  <div>
                    <p>{{contact.messages[contact.messages.length - 1].text.slice(0, 45)}}</p>
                  </div>

                </div>

              </li>

            </ul>

          </div>

        </div>

        <!-- Menu di destra -->
        <div v-if="activeContact" class="right-menu">

            <!-- Contatto corrente -->
              <div class="top-line border">
                <div class="current-contact">

                  <div class="contact-info">
                    <img :src="activeContact.avatar" alt="">
                    <h4>{{activeContact.name}}</h4>
                  </div>

                  <div class="contact-info-2">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-ellipsis-v"></i>
                  </div>

                </div>
              </div>

              <!-- Messaggi con Contatto -->
              <div v-for="(message, messageindex) in activeContact.messages"  class="container-all-message">

                <div v-if="message.status == 'sent'">
                  <div class="message-out">
                    <div class="green">
                      <p>{{message.text}}</p>
                      <p class="time">{{message.time}} <img class="spunte" src="img/spunte.png" alt=""></p>
                      <i class="fas fa-angle-down hide"></i>
                      <div class="delete-box">
                        <p @click="deleteMess(messageindex)">Delete Message</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div v-else class="message-in">
                  <div class="white">
                    <p>{{message.text}}</p>
                    <p class="time">{{message.time}} <img class="spunte" src="img/spunte.png" alt=""></p>
                    <i class="fas fa-angle-down hide"></i>
                    <div class="delete-box">
                      <p @click="deleteMess(messageindex)">Delete Message</p>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Scrivere nuovo messaggio -->
            <div class="down-line">
              <div class="telecommunication">
                <i class="far fa-grin"></i>
                <i class="fas fa-paperclip"></i>
                <input type="text" name="" value="" placeholder="Enter message" v-model="myText" @keyup.enter="myNewMess">
                <i class="fas fa-microphone"></i>
              </div>
            </div>


        </div>

        <!-- Prima del chat -->
        <div v-else class="splash-screen">
          <div class="container-screen">
            <img src="img/123.png" alt="">
            <p class="big-size">Keep your phone connected</p>
            <p class="warning">WhatsApp connects to your phone to sync messages. To reduce data usage, connect your phone to Wi-Fi.</p>
            <p>
              <i class="fas fa-laptop"></i> WhatsApp is available for Windows. <a href="https://www.whatsapp.com/download">Get it here.</a>
            </p>
          </div>
        </div>

      </div>

    </div>

  </body>
</html>
